service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
     match /college/{school}/semester/{semester}/class/{class} {
      allow read, update, delete: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
    }
         match /college/{school} {
      allow read, update, delete: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
    }
         match /college/{school}/semester/{semester} {
      allow read, update, delete: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
    }
  }
}